[user]
	email = github@jens.greifenhagen.org
	name = Jens
[alias]
	l = log --relative-date --decorate --graph --abbrev-commit
	ll = log --relative-date --decorate --all --graph --abbrev-commit
[format]
	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[core]
	editor = vim

